#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 50px;
}
.stopwatch{
  border-radius: 50px;
  width: 900px;
  outline: 8px ridge white;
}
button{
  border:none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #4bc475;
  border-radius: 150px;
  padding: 15px 32px;
  margin: 8px 4px;
  width: 100px;
  font-size: 20px;
}
.btnBorder{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}